{% extends 'panel/admin_home.html' %}

{% load static %}

{% block main %}
<style>
  /* Style for the form sections */
  .form-section {
    display: none;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  /* Style for the active (open) form section */
  .active {
    display: block;
  }
</style>

<link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Events</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Add Events</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <button id="showForm1" class="btn btn-primary mx-2">Add organizer</button>
    <button id="showForm2" class="btn btn-primary mx-2">Add Events</button>
    <button id="showForm3" class="btn btn-primary mx-2">Add Panels</button>

    <button id="showForm4" class="btn btn-primary mx-2">Add Speakers/ Moderators</button>
    <button id="showForm5" class="btn btn-primary mx-2">Add Tickets</button>
    <button id="showForm6" class="btn btn-primary mx-2">Add Sponsors/ Partners</button>

    <!-- ADD ORGANIZATION FORM -->
    <form method="post" id="form1" class="form-section my-2" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="col-6">
          <label for="organizer_name">Organizer Name:</label>
          <input type="text" id="organizer_name" name="organizer_name" class="form-control" required><br>
        </div>
        <div class="col-6">
          <label for="industry_type">Industry Type:</label>
          <select id="industry_type" name="industry_type" class="form-control" required>
            <option value="technology">Technology</option>
            <option value="finance">Finance</option>
            <option value="healthcare">Healthcare</option>
            <option value="education">Education</option>
            <option value="other">Other</option>
          </select><br>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <label for="organizer_email">Organizer Email:</label>
          <input type="email" id="organizer_email" name="organizer_email" class="form-control" required><br>
        </div>
        <div class="col-6">
          <label for="organizer_mobile_no">Organizer Mobile No:</label>
          <input type="tel" id="organizer_mobile_no" name="organizer_mobile_no" class="form-control"><br>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="organizer_image">Organizer Image:</label>
          <input type="file" id="organizer_image" name="image" class="form-control"><br>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="contact_person_name">Contact Person Name:</label>
          <input type="text" id="contact_person_name" name="contact_person_name" class="form-control"><br>
        </div>
        <div class="col-6">
          <label for="contact_person_email">Contact Person Email:</label>
          <input type="email" id="contact_person_email" name="contact_person_email" class="form-control" required><br>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <label for="contact_person_mobile_no">Contact Person Mobile No:</label>
          <input type="tel" id="contact_person_mobile_no" name="contact_person_mobile_no" class="form-control"
            required><br>
        </div>
        <div class="col-6">
          <label for="contact_person_designation">Contact Person Designation:</label>
          <input type="text" id="contact_person_designation" name="contact_person_designation" class="form-control"
            required><br>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <label for="address_line1">Organizer Address Line 1:</label>
          <input type="text" id="address_line1" name="address_line1" class="form-control" required><br>
        </div>
        <div class="col-6">
          <label for="address_line2">Organizer Address Line 2:</label>
          <input type="text" id="address_line2" name="address_line2" class="form-control"><br>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="city">Organizer City:</label>
          <input type="text" id="city" name="city" class="form-control" required><br>
        </div>
        <div class="col-6">
          <label for="state">Organizer State:</label>
          <input type="text" id="state" name="state" class="form-control" required><br>
        </div>
      </div>
      <div class="row">
        <div class="col-6"> <label for="country">Organizer Country:</label>
          <input type="text" id="country" name="country" class="form-control" required><br>
        </div>
        <div class="col-6"><label for="pincode">Organizer Pincode:</label>
          <input type="text" id="pincode" name="pincode" class="form-control" required><br>
        </div>
      </div>

      <div class="row">
        <div class="col-6"></div>
        <div class="col-6"></div>
      </div>

      <input type="submit" value="Submit" class="btn btn-success" name="org_form">
    </form>

    <!-- ADD EVENTS FORM -->
    <form id="form2" method="post" class="form-section my-2" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="col-6">
          <label for="event_name">Event Name:</label>
          <input type="text" id="event_name" name="event_name" class="form-control" required><br>
        </div>
        <div class="col-6">
          <label for="event_type">Event Type:</label>
          <select id="event_type" name="event_type" class="form-control" required>
            <option value="conference">Conference</option>
            <option value="forum">Forum</option>
            <option value="exhibition">Exhibition</option>
            <option value="education">Education</option>
            <option value="other">Other</option>
          </select><br>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <label for="event_agenda">Event Agenda:</label>
          <input type="text" id="event_agenda" class="form-control" name="event_agenda" required><br>
        </div>
        <div class="col-6">
          <label for="event_description">Event Description:</label>
          <input type="text" id="event_description" name="event_description" class="form-control" required><br>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <label for="event_image">Event Image:</label>
          <input type="file" id="event_image" class="form-control" name="image"><br>
        </div>
        <div class="col-6">
          <label for="start_date">Start Date:</label>
          <input type="datetime-local" id="start_date" name="start_date" class="form-control" required><br>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <label for="end_date">End Date:</label>
          <input type="datetime-local" id="end_date" class="form-control" name="end_date" required><br>
        </div>
        <div class="col-6">
          <label for="number_of_panels">Number of Panels:</label>
          <input type="number" id="number_of_panels" name="number_of_panels" class="form-control"
            placeholder="Optional"><br>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <label for="venue_link">Venue Link (URL):</label>
          <input type="url" id="venue_link" name="venue_link" class="form-control" required><br>
        </div>
        <div class="col-6">
          <label for="venue_name">Venue name :</label>
          <input type="text" id="venue_name" name="venue_name" class="form-control" required><br>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="total_seats">Total Seats:</label>
          <input type="number" id="total_seats" name="total_seats" class="form-control" required><br>
        </div>

      </div>
      <label for="organizer_id">Organizer:(Press Crtl to select more than 1 organizer)</label>
      <select id="organizer_id" name="organizer_id" class="form-control" multiple required>
        {% for organizer in organizers %}
        <option value="{{ organizer.organizer_id }}">{{ organizer.organizer_name }}</option>
        {% endfor %}
      </select>
      <br>
      <input type="submit" value="Submit" class="btn btn-success" name="event_form">
    </form>

    <!-- ADD PANELS FORM -->
    <form id="form3" method="post" class="form-section my-2" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="row">
        <div class="col-6">
          <label for="panel_no">Panel Number:</label>
          <input type="number" id="panel_no" name="panel_no" placeholder="Panel Number" class="form-control"
            required><br>
        </div>
        <div class="col-6">
          <label for="panel_name">Panel Name:</label>
          <input type="text" id="panel_name" name="panel_name" placeholder="Panel Name" class="form-control"
            required><br>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="panel_description">Panel Description:</label>
          <textarea class="form-control" id="panel_description" name="panel_description" rows="4" cols="50"
            placeholder="Panel Description"></textarea><br>

        </div>
        <div class="col-6">
          <label for="panel_topic">Panel Topic:</label>
          <input type="text" class="form-control" id="panel_topic" name="panel_topic" placeholder="Panel Topic"
            required><br>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="panel_image">Panel Image:</label>
          <input type="file" class="form-control" id="panel_image" name="image" placeholder="Panel Image"><br>

        </div>
        <div class="col-6">
          <label for="panel_start_time">Panel Start Time:</label>
          <input type="datetime-local" id="panel_start_time" name="panel_start_time" class="form-control"
            required><br><br>

        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="panel_end_time">Panel End Time:</label>
          <input type="datetime-local" id="panel_end_time" name="panel_end_time" class="form-control" required><br>
        </div>
        <div class="col-6">
          <label for="event_id">Event:</label>
          <select id="event_id" name="event_id" class="form-control" required>
            <option value="">Select an Event</option>
            {% for event in events %}
            <option value="{{ event.event_id }}">{{ event.event_name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-success" name="panel_form">Submit</button>

    </form>

    <!-- ADD SPEAKERS/MODERATORS FORM -->
    <form id="form4" method="post" class="form-section my-2" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="col-6">
          <label for="first_name">First Name:</label>
          <input type="text" id="first_name" name="first_name" class="form-control"><br>
        </div>
        <div class="col-6">
          <label for="last_name">Last Name:</label>
          <input type="text" id="last_name" name="last_name" class="form-control"><br>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" class="form-control" required><br>
        </div>
        <div class="col-6">
          <label for="mobile_no">Mobile No:</label>
          <input type="text" id="mobile_no" name="mobile_no" class="form-control"><br>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="image">Image:</label>
          <input type="file" id="image" name="image" class="form-control"><br>
        </div>
        <div class="col-6">
          <label for="date_of_birth">Date of Birth:</label>
          <input type="date" id="date_of_birth" name="date_of_birth" format="dd/MM/yyyy" class="form-control"><br>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="gender">Gender:</label><br>
          <select id="gender" name="gender" class="form-control"><br>
            <option value="">Select a Gender</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
          </select>
        </div>
        <div class="col-6">
          <label for="job_title">Job/ Position:</label>
          <input type="text" id="job_title" name="job_title" class="form-control"><br>

        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="work_place">Work Place:</label>
          <input type="text" id="work_place" name="work_place" class="form-control"><br>

        </div>
        <div class="col-6">
          <label for="role">Role:</label>
          <select id="role" name="role" class="form-control"><br>
            <option value="">Select a Role</option>
            <option value="speaker">Speaker</option>
            <option value="moderator">Moderator</option>
            <option value="guest">Guest</option>
            <option value="sponsor">Sponsor</option>
            <option value="organizer">Organizer</option>
          </select><br>

        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <label for="event_id">Event:</label>
          <select id="event_id" name="event_id" class="form-control" required><br>
            <option value="">Select an Event</option>
            {% for event in events %}
            <option value="{{ event.event_id }}">{{ event.event_name }}</option>
            {% endfor %}
          </select>

        </div>
        <div class="col-6">
          <label for="panel_id">Panel:</label>
          <select id="panel_id" name="panel_id" class="form-control" required><br>
            <option value="">Select a Panel</option>
            {% for panel in panels %}
            <option value="{{ panel.panel_id }}">Panel {{ panel.panel_no }}, {{panel.events.event_name}}</option>
            {% endfor %}
          </select><br>
        </div>
      </div>



      <div class="row">
        <div class="col-6">
          <label for="LIP">LinkedIn Profile Link:</label>
          <input type="url" id="LIP" name="linkedin" class="form-control"><br>
        </div>
        <div class="col-6">
          <label for="TP">Twitter Profile Link:</label>
          <input type="url" id="TP" name="twitter" class="form-control"><br>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <label for="FBP">Facebook Profile Link:</label>
          <input type="url" id="FBP" name="facebook" class="form-control"><br>
        </div>
        <div class="col-6">
          <label for="IGP">Instagram Profile Link:</label>
          <input type="url" id="IGP" name="instagram" class="form-control"><br>
        </div>
      </div>


      <div class="row">
        <div class="col-6">
          <label for="address_line1">Address Line 1:</label>
          <input type="text" id="address_line1" name="address_line1" class="form-control"><br>
        </div>
        <div class="col-6">
          <label for="address_line2">Address Line 2:</label>
          <input type="text" id="address_line2" name="address_line2" class="form-control"><br>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="city">City:</label>
          <input type="text" id="city" name="city" class="form-control"><br>
        </div>
        <div class="col-6">
          <label for="state">State:</label>
          <input type="text" id="state" name="state" class="form-control"><br>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="country">Country:</label>
          <input type="text" id="country" name="country" class="form-control"><br>
        </div>
        <div class="col-6">
          <label for="pincode">Pincode:</label>
          <input type="text" id="pincode" name="pincode" class="form-control"><br>
        </div>
      </div>


      <div class="row">
        <div class="col-6">
          <label for="bio">Bio:</label>
          <textarea type="text" id="bio" name="speaker_bio" class="form-control" rows="4" cols="50"></textarea><br>
        </div>
      </div>
      <input type="submit" value="Submit" class="btn btn-success" name="speaker_form">
    </form>

    <!-- ADD TICKETS FORM -->
    <form id="form5" method="post" class="form-section my-2" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="col-6">
          <label for="ticket_type">Ticket Type:</label>
          <select id="ticket_type" name="ticket_type" class="form-control" required>
            <option value="with_food">With Food</option>
            <option value="without_food">Without Food</option>
            <option value="online">Online</option>
            <option value="guest">Guest</option>
          </select><br>
        </div>
        <div class="col-6">
          <label for="ticket_price">Ticket Price:</label>
          <input type="number" name="ticket_price" id="ticket_price" class="form-control" required><br>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="ticket_description">Ticket Description:</label>
          <input type="text" name="ticket_description" class="form-control" id="ticket_description"><br>
        </div>
        <div class="col-6">
          <label for="tickets_available">Tickets Available:</label>
          <input type="number" name="tickets_available" id="tickets_available" class="form-control" required><br>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="start_date">Ticket Start Date:</label>
          <input type="datetime-local" name="start_date" class="form-control" id="start_date"><br>
        </div>
        <div class="col-6">
          <label for="end_date">Ticket End Date:</label>
          <input type="datetime-local" name="end_date" class="form-control" id="end_date"><br>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="event_id">Event:</label>
          <select id="event_id" name="event_id" class="form-control" required>
            <option value="">Select an Event</option>
            {% for event in events %}
            <option value="{{ event.event_id }}">{{ event.event_name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-6">
          <label for="image">Ticket Image:</label>
          <input type="file" id="image" name="image" class="form-control"><br>
        </div>
      </div>
      <input type="submit" value="Submit" class="btn btn-success" name="ticket_form">
    </form>

    <!-- ADD SPONSOR FORM -->
    <form id="form6" method="post" class="form-section my-2" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="col-6">
          <label for="id_sponsor_type">Sponsor Type:</label>
          <select id="ticket_type" name="ticket_type" class="form-control" required>
            <option value="">Select an option</option>
            <option value="sponsors">Sponsors</option>
            <option value="main_sponsors">Main Sponsors</option>
            <option value="partners">Partners</option>
            <option value="media_partners">Media Partners</option>
          </select><br>
        </div>
        <div class="col-6">
          <label for="id_sponsor_name">Sponsor Name:</label>
          <input type="text" name="sponsor_name" class="form-control" id="id_sponsor_name"><br>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="id_sponsor_image">Sponsor Image:</label>
          <input type="file" name="sponsor_image" class="form-control" id="id_sponsor_image"><br>
        </div>
        <div class="col-6">
          <label for="id_sponsor_description">Sponsor Description:</label>
          <input type="text" name="sponsor_description" class="form-control" id="id_sponsor_description"><br>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="id_sponsor_email">Sponsor Email:</label>
          <input type="email" name="sponsor_email" class="form-control" id="id_sponsor_email"><br>
        </div>
        <div class="col-6">
          <label for="id_sponsor_mobile_no">Sponsor Mobile No:</label>
          <input type="text" name="sponsor_mobile_no" class="form-control" id="id_sponsor_mobile_no"><br>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="id_address_line1">Address Line 1:</label>
          <input type="text" name="address_line1" class="form-control" id="id_address_line1"><br>
        </div>
        <div class="col-6">
          <label for="id_address_line2">Address Line 2:</label>
          <input type="text" name="address_line2" class="form-control" id="id_address_line2"><br>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="id_city">City:</label>
          <input type="text" name="city" id="id_city" class="form-control"><br>
        </div>
        <div class="col-6">
          <label for="id_state">State:</label>
          <input type="text" name="state" id="id_state" class="form-control"><br>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="id_country">Country:</label>
          <input type="text" name="country" id="id_country" class="form-control"><br>
        </div>
        <div class="col-6">
          <label for="id_pincode">Pincode:</label>
          <input type="text" name="pincode" id="id_pincode" class="form-control"><br>
        </div>
      </div>
      <input type="submit" value="Submit" class="btn btn-success" name="sponsor_form">
    </form>

  </section>
  <!-- /.content -->
</div>
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>

<script>
  // JavaScript to handle form visibility
  const forms = document.querySelectorAll('.form-section');
  const buttons = [
    document.getElementById('showForm1'),
    document.getElementById('showForm2'),
    document.getElementById('showForm3'),
    document.getElementById('showForm4'),
    document.getElementById('showForm5'),
    document.getElementById('showForm6'),
  ];

  buttons.forEach((button, index) => {
    button.addEventListener('click', () => {
      // Toggle the visibility of the corresponding form
      forms[index].classList.toggle('active');

      // Hide other forms
      forms.forEach((form, i) => {
        if (i !== index) {
          form.classList.remove('active');
        }
      });
    });
  });
</script>

{% endblock %}